@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@inject IEmailServices EmailServicesView
<body>
    <p>
        Enter your name.
    </p>
    <div asp-validation-summary="All"></div>
    <form method="POST">
        <div>Name: <input asp-for="customer.Name" /></div>
        <span asp-validation-for="customer.Name" class="text-danger"> </span>
        <div>Name: <input asp-for="ciudad.Name" /></div>
        <input type="submit" aps-page-handler = "Customer" />
    </form>
</body>

<div>
    < a asp-page= "/index.php">index</a>
</div>
<div condition ="true">
    < a asp-page= "/index.php">index</a>
</div>
<h3>@Model.Message</h3>
<h3>Injeccion desde la vista @EmailServicesView.SendMail()</h3>

<script>
<cache expires-after="@TimeSpan.FromMilliseconds(5)">
    con cache = @DateTime.Now
</cache> 
< img asp-append-version= "true" src= "../images/logo.png"
</script src= "../js/site.min.js" asp-append-version= "true">    