<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container login-container"></div>
<div class="row">
  <div class="col-md-6 login-form-1">
    <h3>Login Inventario</h3>
    <div class="col-md-6">
  <form (submit)="loginUser($event)" class="form-group" >
    <input type="email" placeholder="Email" id="email" class="form-control" /><br />
    <input type="password" placeholder="Password" id="password" class="form-control" /><br /><br />
    <input type="submit" value="Login" class="btnSubmit" />
  </form>
</div>
